<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/lcpret/base-de-dados-nepom"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    NEPOM Dados <i class="far fa-registered"></i>
  </div>
</div>
