<h2 class="text-center"><i class="fas fa-check-circle text-secondary"></i> Escolha uma opção</h2>

<div>
  <div class="buttons text-center pt-2">
    <div class="button pt-4">
      <%=link_to "Ocorrências", occurrences_path, class: "btn btn-primary text-white w-50"%>
    </div>

    <div class="button pt-4">
      <%=link_to "Embarcações", ships_path, class: "btn btn-primary text-white w-50"%>
    </div>

    <div class="button pt-4">
      <%=link_to "Tripulantes", members_path, class: "btn btn-primary text-white w-50"%>
    </div>
</div>
